body {
  margin: 0; /* body에는 항상 8px이 기본값으로 들어가 있다. */
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/**
 * https://getcssscan.com/css-box-shadow-examples
 */
.container {
  background-color: white;
  min-height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.task-area {
  border: 1px solid lightgray;
}
.task-tabs {
  display: flex;
  border-bottom: 1px solid lightgray;
  position: relative;
}
.task-tabs div {
  padding: 1em;
}
#under-line {
  height: 4px;
  background-color: pink;
  position: absolute;
  width: 80px;
  left: 0px;
  top: 52px;
  padding: 0px;
}

.task {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  
}
.task-done {
  text-decoration: line-through;
}

.task-tabs div {
  cursor: pointer;
}